body {
  margin: 0 !important;
  background: white !important;
}

.navbar-default .navbar-brand {
   color: black;
   font-weight: bold;
}

.navbar-default {
  background: #259f60;
}

.navbar-nav > li > a {
    color: white !important;
  font-weight: bold;
  font-size: 20px;
    background-color: transparent;
}

.navbar-nav > li > a, .navbar-brand {
 padding-top:10px !important; 
 padding-bottom:10 !important;
 height: 70px;
}
.navbar {min-height:70px !important;}

.navbar-nav > .active > a {
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-color: #115544 !important;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.boxes {
  border-radius: 15px;
}

.wall {
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
	padding: 10px;
	margin: 15px;
}

.right-col {
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
	padding: 10px;
}

.boxes {
  border-radius: 15px;
}

.form {
    box-shadow: 4px 3px 8px 1px #969696;
  	-webkit-box-shadow: 4px 3px 8px 1px #969696;
  	padding: 20px;
}
